<body data-theme="light" class="font-nunito">

    <div id="wrapper" class="theme-cyan">

        <!-- Page Loader -->

        <!-- Top navbar div start -->
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <button type="button" class="btn-toggle-offcanvas"><i class="fa fa-bars"></i></button>
                    <button type="button" class="btn-toggle-fullwidth"><i class="fa fa-bars"></i></button>
                    <a href="index.html">ICONIC</a>
                </div>

                <div class="navbar-right">
                    <!-- <form id="navbar-search" class="navbar-form search-form">
                        <input value="" class="form-control" placeholder="Search here..." type="text">
                        <button type="button" class="btn btn-default"><i class="icon-magnifier"></i></button>
                    </form> -->

                    <div id="navbar-menu">
                        <ul class="nav navbar-nav">
                            <!-- <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                    <i class="fa fa-bell"></i>
                                    <span class="notification-dot"></span>
                                </a>
                                <ul class="dropdown-menu notifications">
                                    <li class="header"><strong>You have 4 new Notifications</strong></li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="media">
                                                <div class="media-left">
                                                    <i class="icon-info text-warning"></i>
                                                </div>
                                                <div class="media-body">
                                                    <p class="text">Campaign <strong>Holiday Sale</strong> is nearly
                                                        reach budget limit.</p>
                                                    <span class="timestamp">10:00 AM Today</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="media">
                                                <div class="media-left">
                                                    <i class="icon-like text-success"></i>
                                                </div>
                                                <div class="media-body">
                                                    <p class="text">Your New Campaign <strong>Holiday Sale</strong> is
                                                        approved.</p>
                                                    <span class="timestamp">11:30 AM Today</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="media">
                                                <div class="media-left">
                                                    <i class="icon-pie-chart text-info"></i>
                                                </div>
                                                <div class="media-body">
                                                    <p class="text">Website visits from Twitter is 27% higher than last
                                                        week.</p>
                                                    <span class="timestamp">04:00 PM Today</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="media">
                                                <div class="media-left">
                                                    <i class="icon-info text-danger"></i>
                                                </div>
                                                <div class="media-body">
                                                    <p class="text">Error on website analytics configurations</p>
                                                    <span class="timestamp">Yesterday</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="footer"><a href="javascript:void(0);" class="more">See all
                                            notifications</a></li>
                                </ul>
                            </li> -->
                            <li>
                                <a (click)="logout()" class="icon-menu"><i class="fa fa-power-off"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- main left menu -->
        <div id="left-sidebar" class="sidebar">
            <button type="button" class="btn-toggle-offcanvas"><i class="fa fa-arrow-left"></i></button>
            <div class="sidebar-scroll">
                <div class="user-account">
                    <img src="assets/images/user.png" class="rounded-circle user-photo" alt="User Profile Picture">
                    <div class="dropdown">
                        <span>Welcome,</span>
                        <a href="javascript:void(0);" class="dropdown-toggle user-name"
                            data-toggle="dropdown"><strong>{{nom}}</strong></a>
                        <ul class="dropdown-menu dropdown-menu-right account">
                            <li><a href="page-profile2.html"><i class="icon-user"></i>My Profile</a></li>
                            <li><a href="app-inbox.html"><i class="icon-envelope-open"></i>Messages</a></li>
                            <li><a href="javascript:void(0);"><i class="icon-settings"></i>Settings</a></li>
                            <li class="divider"></li>
                            <li><a (click)="logout()"><i class="icon-power"></i>Logout</a></li>
                        </ul>
                    </div>
                    <hr>

                </div>
                <!-- Nav tabs -->


                <!-- Tab panes -->
                <div class="tab-content padding-0">
                    <div class="tab-pane active" id="menu">
                        <nav id="left-sidebar-nav" class="sidebar-nav">
                            <ul id="main-menu" class="metismenu li_animation_delay">

                                <li>
                                    <a href="#App" class="has-arrow"><span>Accueil</span></a>

                                </li>
                                <li>
                                    <a href="#App" class="has-arrow"><span>Historique</span></a>

                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="tab-pane" id="Chat">
                        <form>
                            <div class="input-group m-b-20">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-magnifier"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Search...">
                            </div>
                        </form>
                        <ul class="right_chat list-unstyled li_animation_delay">
                            <li>
                                <a href="javascript:void(0);" class="media">
                                    <img class="media-object" src="assets/images/xs/avatar1.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name d-flex justify-content-between">Chris Fox <i
                                                class="fa fa-heart-o font-12"></i></span>
                                        <span class="message">chrisfox@gmail.com</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="media">
                                    <img class="media-object" src="assets/images/xs/avatar2.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name d-flex justify-content-between">Joge Lucky <i
                                                class="fa fa-heart-o font-12"></i></span>
                                        <span class="message">Jogelucky@gmail.com</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="media">
                                    <img class="media-object" src="assets/images/xs/avatar3.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name d-flex justify-content-between">Isabella <i
                                                class="fa fa-heart-o font-12"></i></span>
                                        <span class="message">Isabella@gmail.com</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="media">
                                    <img class="media-object" src="assets/images/xs/avatar4.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name d-flex justify-content-between">Folisise Chosielie <i
                                                class="fa fa-heart font-12"></i></span>
                                        <span class="message">FolisiseChosielie@gmail.com</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="media">
                                    <img class="media-object" src="assets/images/xs/avatar5.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name d-flex justify-content-between">Alexander <i
                                                class="fa fa-heart-o font-12"></i></span>
                                        <span class="message">Alexander@gmail.com</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="setting">
                        <h6>Choose Skin</h6>
                        <ul class="choose-skin list-unstyled">
                            <li data-theme="purple">
                                <div class="purple"></div>
                            </li>
                            <li data-theme="blue">
                                <div class="blue"></div>
                            </li>
                            <li data-theme="cyan" class="active">
                                <div class="cyan"></div>
                            </li>
                            <li data-theme="green">
                                <div class="green"></div>
                            </li>
                            <li data-theme="orange">
                                <div class="orange"></div>
                            </li>
                            <li data-theme="blush">
                                <div class="blush"></div>
                            </li>
                            <li data-theme="red">
                                <div class="red"></div>
                            </li>
                        </ul>

                        <ul class="list-unstyled font_setting mt-3">
                            <li>
                                <label class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="font" value="font-nunito"
                                        checked="">
                                    <span class="custom-control-label">Nunito Google Font</span>
                                </label>
                            </li>
                            <li>
                                <label class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="font" value="font-ubuntu">
                                    <span class="custom-control-label">Ubuntu Font</span>
                                </label>
                            </li>
                            <li>
                                <label class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="font" value="font-raleway">
                                    <span class="custom-control-label">Raleway Google Font</span>
                                </label>
                            </li>
                            <li>
                                <label class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="font" value="font-IBMplex">
                                    <span class="custom-control-label">IBM Plex Google Font</span>
                                </label>
                            </li>
                        </ul>

                        <ul class="list-unstyled mt-3">
                            <li class="d-flex align-items-center mb-2">
                                <label class="toggle-switch theme-switch">
                                    <input type="checkbox">
                                    <span class="toggle-switch-slider"></span>
                                </label>
                                <span class="ml-3">Enable Dark Mode!</span>
                            </li>
                            <li class="d-flex align-items-center mb-2">
                                <label class="toggle-switch theme-rtl">
                                    <input type="checkbox">
                                    <span class="toggle-switch-slider"></span>
                                </label>
                                <span class="ml-3">Enable RTL Mode!</span>
                            </li>
                            <li class="d-flex align-items-center mb-2">
                                <label class="toggle-switch theme-high-contrast">
                                    <input type="checkbox">
                                    <span class="toggle-switch-slider"></span>
                                </label>
                                <span class="ml-3">Enable High Contrast Mode!</span>
                            </li>
                        </ul>

                        <hr>
                        <h6>General Settings</h6>
                        <ul class="setting-list list-unstyled">
                            <li>
                                <label class="fancy-checkbox">
                                    <input type="checkbox" name="checkbox" checked>
                                    <span>Allowed Notifications</span>
                                </label>
                            </li>
                            <li>
                                <label class="fancy-checkbox">
                                    <input type="checkbox" name="checkbox">
                                    <span>Offline</span>
                                </label>
                            </li>
                            <li>
                                <label class="fancy-checkbox">
                                    <input type="checkbox" name="checkbox">
                                    <span>Location Permission</span>
                                </label>
                            </li>
                        </ul>

                        <a href="#" target="_blank" class="btn btn-block btn-primary">Buy this item</a>
                        <a href="https://themeforest.net/user/wrraptheme/portfolio" target="_blank"
                            class="btn btn-block btn-secondary">View portfolio</a>
                    </div>
                    <div class="tab-pane" id="question">
                        <form>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-magnifier"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Search...">
                            </div>
                        </form>
                        <ul class="list-unstyled question">
                            <li class="menu-heading">HOW-TO</li>
                            <li><a href="javascript:void(0);">How to Create Campaign</a></li>
                            <li><a href="javascript:void(0);">Boost Your Sales</a></li>
                            <li><a href="javascript:void(0);">Website Analytics</a></li>
                            <li class="menu-heading">ACCOUNT</li>
                            <li><a href="javascript:void(0);">Cearet New Account</a></li>
                            <li><a href="javascript:void(0);">Change Password?</a></li>
                            <li><a href="javascript:void(0);">Privacy &amp; Policy</a></li>
                            <li class="menu-heading">BILLING</li>
                            <li><a href="javascript:void(0);">Payment info</a></li>
                            <li><a href="javascript:void(0);">Auto-Renewal</a></li>
                            <li class="menu-button mt-3">
                                <a href="../docs/index.html" class="btn btn-primary btn-block">Documentation</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- rightbar icon div -->


        <!-- mani page content body part -->
        <div id="main-content">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <h2>iOT Dashboard</h2>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-dashboard"></i></a>
                                </li>
                                <li class="breadcrumb-item">Dashboard</li>
                                <li class="breadcrumb-item active">IOT</li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="row clearfix row-deck">
                    <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="getSystem === 'ON'">
                        <div class="card number-chart">
                            <div class="body">
                                <span class="text-uppercase">
                                    humiditer agriculteur</span>
                                <h4 class="mb-0 mt-2">{{getHumiditerAgriculteur}}% </h4>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    changer Humiditer
                                </button>
                            </div>
                            <div>


                            </div>
                            <div class="sparkline" data-type="line" data-spot-Radius="0" data-offset="90"
                                data-width="100%" data-height="95px" data-line-Width="1" data-line-Color="#39afa6"
                                data-fill-Color="#73cec7">4,1,5,2,7,3,4</div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="getSystem === 'ON'">
                        <div class="card number-chart">
                            <div class="body">
                                <span class="text-uppercase">Humiditer du sol </span>
                                <h4 class="mb-0 mt-2">{{getHumiditerSol}}%</h4>
                                <small class="text-muted">Analytics for last week</small>
                            </div>
                            <div class="sparkline" data-type="line" data-spot-Radius="0" data-offset="90"
                                data-width="100%" data-height="95px" data-line-Width="1" data-line-Color="#38c172"
                                data-fill-Color="#84d4a6">1,4,2,3,1,5</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="getSystem === 'ON'">
                        <div class="card">
                            <div class="body d-flex justify-content-between" *ngIf="getSystem === 'ON'">
                                <div>
                                    <h6 class="mb-0">System Mode </h6>
                                    <small class="text-success" style="font-size: 20px;">{{getMode}}</small><small
                                        class="text-danger d-none">Loosed</small>
                                </div>
                                <div>
                                    <button class="btn btn-outline-danger" *ngIf="getMode === 'manual'"
                                        (click)="changeMode('automatic')" type="button"> mode automatic</button>
                                    <button class="btn btn-outline-success" *ngIf="getMode === 'automatic'"
                                        (click)="changeMode('manual')" type="button">mode manual</button>
                                </div>
                            </div>
                            <hr>
                            <div class="body d-flex justify-content-between" *ngIf="getSystem === 'ON'">
                                <div>
                                    <h6 class="mb-0">Status System</h6>
                                    <small class="text-success d-none">Closed</small>
                                    <small class="text-danger" style="font-size: 20px;" [ngClass]="{ 'text-success': isSystemOnline(), 'text-danger': !isSystemOnline() }">
                                        {{ getStatusSystem | date: 'yyyy-MM-dd HH:mm:ss' }}
                                        {{isSystemOnline()}}
                                    </small>
                                </div>
                                <div>
                                    <button class="btn btn-outline-danger d-none" type="button">Open</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="getSystem === 'ON'">
                        <div class="card">
                            <div class="body d-flex justify-content-between">
                                <div>
                                    <h6 class="mb-0">System </h6>
                                    <small style="font-size: 20px;"
                                        [ngClass]="{'text-success': getSystem === 'ON', 'text-danger': getSystem !== 'ON'}">{{getSystem}}</small>


                                </div>
                                <div>
                                    <button class="btn btn-outline-danger" *ngIf="getSystem === 'ON'"
                                        (click)="changeSystem('OFF')" type="button">System OFF</button>
                                    <button class="btn btn-outline-success" *ngIf="getSystem === 'OFF'"
                                        (click)="changeSystem('ON')" type="button">System ON</button>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="row justify-content-center" *ngIf="getSystem === 'OFF' && isSystemOnline()">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h5 class="card-title text-danger">Smart Irrigation System is OFF</h5>
                                    <p class="card-text">The IoT system is currently turned off and online. To activate it, click the button below.</p>
                                    <button class="btn btn-success" (click)="changeSystem('ON')">Turn On System</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center" *ngIf="getSystem === 'OFF' && !isSystemOnlineStatus">
                        <div class="col-md-6">
                          <div class="card">
                            <div class="card-body text-center">
                              <i class="fas fa-exclamation-circle text-danger fa-3x"></i>
                              <h5 class="card-title text-danger">Smart Irrigation System is OFF</h5>
                              <p class="card-text">The IoT system is currently turned off and offline. Please check the system's status.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    
                    

                </div>
                <div class="row clearfix row-deck" *ngIf="getSystem === 'ON'">


                    <div cl ass="col-lg-4 col-md-4 col-sm-12" *ngIf="getMode === 'manual'">
                        <div class="card">
                            <div class="header">
                                <h2>Mode Manuel (pompe)</h2>
                                <ul class="header-dropdown m-r--5">
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                            role="button">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>

                                    </li>
                                </ul>
                            </div>
                            <div class="body">
                                <ul class="list-group">
                                    <li class="d-flex justify-content-between list-group-item align-items-center">
                                        <h6 class="mb-0">POMPE</h6>
                                        <label class="toggle-switch">
                                            <input type="checkbox" [checked]="getpompe" (change)="changePompe($event)">
                                            <span class="toggle-switch-slider"></span>
                                        </label>

                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix row-deck" *ngIf="getSystem === 'ON'">

                    <div class="col-lg-4  col-sm-12">
                        <div class="card appliances-grp">
                            <div class="body clearfix">
                                <div class="icon"><img alt="" src="assets/capteur-de-pluie.jpg" height="200px"
                                        width="200px"></div>
                                <div class="content">
                                    <h6>Captuer de pluie </h6>

                                    <p>Status <span class="text-warning"
                                            style="font-size: 19px;">{{getCapteurDepluie}}</span></p>
                                </div>
                            </div>
                            <div class="body clearfix">
                                <div class="icon"><img alt="" src="assets/capteur-niveau-deau.jpg" height="100px"
                                        width="100px"></div>
                                <div class="content">
                                    <h6>capteur niveau d'eau</h6>

                                    <p>Status <span class="text-success"
                                            style="font-size: 19px;">{{getCapteurNiveauDeau}}</span></p>
                                </div>
                            </div>
                            <div class="body clearfix">
                                <div class="icon"><img alt="" src="assets/Pompe.jpg" height="100px" width="100px"></div>
                                <div class="content">
                                    <h6>Pompe</h6>
                                    <p>Status <span *ngIf="getpompe === true" class="text-primary"
                                            style="font-size: 19px;">OUI</span>
                                        <span *ngIf="getpompe === false" class="text-primary"
                                            style="font-size: 19px;">NON</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="container">
                            <div id="chart">
                                <canvas id="canvas"></canvas>
                            </div>
                        </div>

                    </div>


                    <div class="col-lg-4" *ngIf="weatherdata">
                        <div class="card weather3">
                            <div class="top">
                                <div class="wrapper">
                                    <h2 class="heading" style="color:white;">{{ weatherdata.weather }}</h2>
                                    <h3 class="location" style="color:white;">{{ weatherdata.city_name }}, {{
                                        weatherdata.country_code }}</h3>
                                    <p class="temp">
                                        <span class="deg" style="color:white;">0</span>
                                        <a href="javascript:void(0);"><span class="temp-type">C</span></a>
                                        <span class="temp-value" style="color:white;">{{weatherdata.app_temp}}</span>

                                    </p>
                                </div>
                            </div>

                        </div>
                        <div *ngIf="!weatherdata">
                            <p>Loading weather data...</p>
                        </div>
                    </div>


                </div>



            </div>
        </div>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal content here -->
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Change Humidity Level</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Your humidity form can be added here -->
                    <form #humidityForm="ngForm">
                        <div class="form-group">
                            <label for="humidity">Humidity Level:</label>
                            <input type="number" class="form-control" id="humidity" [(ngModel)]="humidity"
                                name="humidity" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        style="color :black">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="color :black"
                        (click)="saveChanges()">Save changes</button>
                </div>
            </div>
        </div>
    </div>